
body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
}

div{
    border: 1px solid purple;
    width: 23vw;
    padding: 10px;
}

input {
    margin: 1.5px;
    border: 1px solid purple;
    border-radius: 5px;
    background-color: #c7e2ad;
}

#cep{
    width: 8vw;
}

#login{
 margin-left: 4.5vw;
}