 :root {
     --cor-laranja: #ea8676;
     --cor-laranjaAvermelhado: #d24858;
     --cor-bege: #fdeecd;
     --cor-verde: #275223;
     --cor-verdeClaro: #a9dfa5;
 }

 body {
     height: 100dvh;
     margin: 0;
 }

 * {
     font-family: "cooper-black-std", serif;
     color: var(--cor-laranjaAvermelhado);
     font-size: 30px;
     text-shadow: 1px 2px var(--cor-sombraText);
 }

 #container{
    display: grid;
    height: 400px;
    width: 600px;
    gap: 10px;
    background-color: var(--cor-bege);
    border: 3px solid var(--cor-verde) ;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* alinha os itens horizontalmente */
    /* justify-items: center; */

    /* alinha os itens verticalmente */
    /* align-items: center; */

    /* place-items é a junção de */
    /* align-items: center || justify-items: end */
    place-items: center start;
 }